{% extends "base.html" %}
{% load static %}
{% block single %}<link rel="stylesheet" href="{% static 'css/single.css' %}" type='text/css'>{% endblock single %}

{% block style %}<link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css'>{% endblock style %}

{% block content %}

<main class="single_pages">

    <section class="video_items flex">
        <div class="left">
        <div class="left_content">
            <video controls>
                <source src="{{ video.video.url }}" type="video/mp4" poster="images/1.jpg">
            </video>

            <div class="tag">
                <label for="" class="tags">
                    {% for tag in video.tags.all %}
                        <a href="{% url "tags" tag.slug %}">#{{ tag.name }}</a>
                    {% endfor %}
                </label>
                <p>{{ video.title }}</p>
            </div>

            <div class="view flex2 border_bottem">
                <div class="view-text">
                    <span>{{ video.views }} Views</span>
                </div>

                <div class="flex">
                    
                    <div class="icon">
                        <button id="like-button" onclick="addLike()">
                            <i class="fa fa-thumbs-up"></i></button>
                            <label><span id="like-count"></span></label>
                    </div>

                    <div class="icon">
                        <a href="">
                            <i class="fa fa-thumbs-down"></i></a>
                            <label>Dislike</label>
                    </div>

                    <div class="icon">
                        <a href="">
                            <i class="fa fa-share"></i></a>
                            <label>Share</label>
                    </div>

                    <div class="icon">
                        <a href="">
                            <i class="fa fa-scissors"></i></a>
                            <label>Clip</label>
                    </div>

                    <div class="icon">
                        <a href="{% url "save-video" video.id %}">
                            <i class="fa fa-bookmark"></i>
                            <label>Save</label>
                        </a>
                    </div>

                    <div class="icon">
                        <a href="{% url "video-edit" video.user.id video.id %}">
                            <i class="fa fa-thumbs-up"></i>
                            <label for="">Edit</label></a>
                    </div>

                    <div class="icon">
                        <a href="">
                            <i class="fa fa-ellipsis"></i></a>
                            <label></label>
                    </div>
                </div>
            </div>

            <hr class="mid-hr">
            <hr>
            
            <div class="details flex border_bottom">
                <div class="img">
                    {% if video.user.channel.image %}
                        <img src="{{ video.user.channel.image.url }}" style="width: 50px; height: 50px; object-fit: cover;" alt="">
                    {% else %}
                        <img style="width: 50px; height: 50px; object-fit: cover;" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg" alt="">
                    {% endif %}
                </div>
                <div class="heading">
                    <h4>{{ video.user.channel.channel_name }}  {% if video.user.channel.verified == True %} <small><i class="fa fa-check-circle"></i></small>{% endif %} </h4>
                    <span id="count"></span><span> Subscribers</span>

                    <h5>{{ video.description }}</h5>
                    <span><i class="fa fa-caret-down"></i>show more</span>
                </div>
                <div>
                    <button onclick="addSub()" id="sub_btn" class="subscribe-btn"> Subscribe</button>
                </div>
            </div>

            <hr class="mid-hr">

            <div class="comment">
                <div class="comment-heading flex">
                    <h4><b>{{ comment.count }} Comments</b></h4>
                    <h4><i class="fa fa-list-ul"></i><label>Sort By</label></h4>
                </div>
            </div>

            <div class="details comment_self flex">
                <div class="img">
                    {% if channel.image %}
                        <img class="img" src="{{channel.image.url}}" alt="" />
                    {% else %}
                        <img class="img" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg" alt=""/>
                    {% endif %}
                </div>

                {% if request.user.is_authenticated %}
                    <form action="" style="width: 100%" id="comment_form">
                        {% csrf_token %}
                        <div class="heading flex">
                            <input type="hidden" value="{{ video.id }}" id="id" name="id">
                            <input type="text" placeholder="Add a Comment..." id="comment" name="comment">
                            <button><i class="material-icons">send</i></button>
                        </div>
                    </form>
                    {% else %}
                    <a href="{% url "login" %}" style="margin-top: 10px;">Login to Comment</a>
                {% endif %}
            </div>

                <div id="comment-wrapper">
                    {% for c in comment %}
                    <div class="comment-tray">
                        <div class="details_Comment">
                            <div class="details flex">
                                <div class="img">
                                    {% if channel.image %}
                                        <img class="img" src="{{channel.image.url}}" alt="" />
                                    {% else %}
                                        <img class="img" src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg" alt=""/>
                                    {% endif %}
                                </div>

                                <div class="heading">
                                    <h4>{{ c.user.username|title }} <span>{{ c.date|timesince }} ago</span></h4>
                                    <p>{{ c.comment }}</p>
                                    <div class="comment-like flex">
                                        <div class="icon">
                                            <i class="fa fa-thumbs-up"></i>
                                            <label for=""><small>5</small></label>
                                        </div>
                                        
                                        <div class="icon">
                                            <i class="fa fa-thumbs-down"></i>
                                            <label for=""><small>Dislike</small></label>
                                        </div>
                                        
                                        <div class="icon">
                                            <label for=""><a href=""><small>Reply</small></a></label>
                                        </div>
                                        
                                        <div class="icon">
                                            <label for=""><button data-cid={{ c.id }} class="btn-del" style="color: red;"><small>Delete</small></button></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="replay">
                            <label for="" class="tags"><i class="fa fa-caret-up"></i>Hide Replies</label>
                            <div class="replay-details flex">
                                <div class="img">
                                    <img src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg">
                                </div>
                                <div class="text">
                                    <h4><label for="">Chutki</label><span>3 months ago</span></h4>
                                    <p>Thank you.</p>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <hr> 
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="right">
            <div class="right_content">
                <button class="chat">Show Chat Reply</button>
                <div class="tags">
                    <label for="" class="tags-bg">All</label>
                    <label for="" class="tags-bg">Web Design</label>
                    <label for="" class="tags-bg">Frontend</label>
                    <label for="" class="tags-bg">HTML</label>
                </div>

                <div class="video_items vide_sidebar flex">
                    <a href="">
                        <img src="images/1.jpg" alt="">
                    </a>
                    <div class="details">
                        <p>Youtube CLone using HTML, CSS and JS</p>
                        <span>Desphixs <i class="fa fa-check-circle"></i></span>
                        <span>203K Views . 1 Week Ago </span>
                    </div>
                </div>

                <div class="video_items vide_sidebar flex">
                    <a href="">
                        <img src="images/1.jpg" alt="">
                    </a>
                    <div class="details">
                        <p>Youtube CLone using HTML, CSS and JS</p>
                        <span>Desphixs <i class="fa fa-check-circle"></i></span>
                        <span>203K Views . 1 Week Ago </span>
                    </div>
                </div>

                <div class="video_items vide_sidebar flex">
                    <a href="">
                        <img src="images/1.jpg" alt="">
                    </a>
                    <div class="details">
                        <p>Youtube CLone using HTML, CSS and JS</p>
                        <span>Desphixs <i class="fa fa-check-circle"></i></span>
                        <span>203K Views . 1 Week Ago </span>
                    </div>
                </div>

                
            </div>
        </div>

    </section>
</main>

<script type="text/javascript">
    $(document).on("submit", "#comment_form", function(e){
        e.preventDefault()
        console.log('Comment form is submitted')
        let _comment = $("#comment").val()
        console.log(_comment);

        $.ajax({
            type: "POST",
            url: "{% url 'save-comment' %}",
            data:{
                id: $("#id").val(),
                comment: _comment,
                csrfmiddlewaretoken:  $('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
                console.log('Successfully posted the comment in backend.');
                

                let _html = '<div class="details_Comment">\
                    <div class="details flex">\
                        <div class="img">\
                            <img src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg">\
                        </div>\
                        <div class="heading">\
                            <h4>{{ request.user.username|title }} <span>{% now "H:i" %}</span></h4>\
                            <p>'+ _comment +'</p>\
                            <div class="comment-like flex">\
                                <div class="icon">\
                                    <i class="fa fa-thumbs-up"></i>\
                                    <label for=""><small>5</small></label>\
                                </div>\
                                <div class="icon">\
                                    <i class="fa fa-thumbs-down"></i>\
                                    <label for=""><small>Dislike</small></label>\
                                </div>\
                                <div class="icon">\
                                    <label for=""><a href=""><small>Reply</small></a></label>\
                                </div>\
                            </div>\
                        </div>\
                    </div>\
                </div>\
                <div class="replay">\
                    <label for="" class="tags"><i class="fa fa-caret-up"></i>Hide Replies</label>\
                    <div class="replay-details flex">\
                        <div class="img">\
                            <img src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg">\
                        </div>\
                        <div class="text">\
                            <h4><label for="">Chutki</label><span>3 months ago</span></h4>\
                            <p>Thank you.</p>\
                        </div>\
                    </div>\
                </div>\
                <hr>\
            '
            $("#comment-wrapper").prepend(_html)
            $("#comment").val("")

            },
            error: function(error){
                console.log(error);
            }
        })
    })

    // delete comment
    $("#comment-wrapper").on("click", ".btn-del",function(){
        // console.log("Delete comment button clicked.");
        let id = $(this).attr("data-cid")

        mydata = {
            cid:id
        }
        mythis = $(this)

        $.ajax({
            type: "POST",
            url: "{% url 'delete-comment' %}",
            data: mydata,

            success: function(data){
                console.log(data);
                if (data.status === 1){
                    // console.log("Comment Deleted");
                    $(mythis).closest(".comment-tray").fadeOut();
                }
                if(data.status ===0){
                    // console.log("Unable to delete comment");
                    alert("Unable to delete comment, try again later");
                }
            }
        })
    })

</script>

<!-- Subscribe Function--> 
<script>
    let subcounter = document.getElementById('count');
    sub_button = document.getElementById("sub_btn")
    subscriber_added = []

    function addSub(){
        axios
            .get('{% url "add_sub" video.user.id %}')
            .then(response => {
                this.response = response.data;
                sub_button.innerHTML = this.response;
                loadSub()
                sub_button.classList.toggle("unsubscribe-btn")
            });
    }

    function loadSub(){
        axios
            .get('{% url "load_sub" channel.pk %}')
            .then(response => {
                this.response = response.data;
                subscriber_added = this.response;
                
                subcounter.innerHTML = subscriber_added.length
            })
    }
    window.onload = loadSub();

</script>

<!-- Like Function--> 
<script>
    let likescounter = document.getElementById('like-count');
    like_button = document.getElementById("like-button")
    likes_added = []

    function addLike(){
        axios
            .get('{% url "add_like" video.id %}')
            .then(like_response => {
                this.like_response = like_response.data;
                like_button.innerHTML = this.like_response;
                loadLike()
                // like_button.classList.toggle("unsubscribe-btn")
            });
    }

    function loadLike(){
        axios
            .get('{% url "load_like" video.id %}')
            .then(like_response => {
                this.like_response = like_response.data;
                likes_added = this.like_response;
                
                likescounter.innerHTML = likes_added.length
            })
    }
    window.onload = loadLike();

</script>

{% endblock content %}